<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1> <!-- Corrected EJS tag for title -->
    <p>Welcome to <%= title %></p> <!-- Corrected EJS tag for title -->
    <a href="/cats/fact">Get a cat fact</a>
  </body>
</html>
